{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="main">

  <div id="primary" class="site-content">
    <div id="content" role="main">

      <div class="main-image">
        <img src="{{ page.image.url }}" style="inline auto 100% 0px -113px" />
      </div>
      <div class="page-info">
        <h2 class="page-heading">{{ page.title }}</h2>
        <div class="page-descr"><div class="twocolumns">{{ page.subtitle }}</div>
          <div class="twocolumns"></div>
          <div class="twocolumns"></div>
        </div>
      </div>

      <div class="page-content" style="background-color: #fff;">


        {{ page.article|safe }}





      </div><!-- #main .wrapper -->
    </div><!-- #page -->
  </div>
</div>




{% endblock %}