{% load static %}



 <header id="header" class="site-header" role="banner">
  <h1 class="logo"><a href="/page/index" title="NASSA GROUP" rel="home">NASSA GROUP</a></h1>
<nav id="site-navigation" class="main-navigation" role="navigation">
<img class="nav-btn" src="{% static 'img/menuicon.jpg' %}"/>


<div class="menu-main-nav-container">
<ul id="menu-main-nav" class="nav-menu">
  {% for nav in nav %}
  {% if nav.primary %}
  {% if nav.children.all.count > 0 %}
<li id="menu-item-673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-673"><a href="{{ nav.slug }}">{{ nav.name }}</a>
<ul class="sub-menu">
  {% for sub in nav.children.all %}
<li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372"><a href="{{ sub.slug }}">{{ sub.name }}</a></li>
{% endfor %}
</ul>

</li>


{% else %}
<li id="menu-item-673" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-673"><a href="{{ nav.slug }}">{{ nav.name }}</a>
</li>


{% endif %}
{% endif %}
{% endfor %}


</ul>
</div>
</nav>

</header>                                  
</div>