@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../../fonts/12_pt._helvetica_65_medium___06472-webfont.eot');
    src: url('../../fonts/12_pt._helvetica_65_medium___06472-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/12_pt._helvetica_65_medium___06472-webfont.woff') format('woff'),
         url('../../fonts/12_pt._helvetica_65_medium___06472-webfont.ttf') format('truetype'),
         url('../../fonts/12_pt._helvetica_65_medium___06472-webfont.svg#helveticaneuemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneueroman';
    src: url('../../fonts/12_pt_helvetica_55_roman___05472-webfont.eot');
    src: url('../../fonts/12_pt_helvetica_55_roman___05472-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/12_pt_helvetica_55_roman___05472-webfont.woff') format('woff'),
         url('../../fonts/12_pt_helvetica_55_roman___05472-webfont.ttf') format('truetype'),
         url('../../fonts/12_pt_helvetica_55_roman___05472-webfont.svg#helveticaneueroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'trade_gothic_lhextended';
    src: url('../../fonts/trade_gothic_lh_extended-webfont.eot');
    src: url('../../fonts/trade_gothic_lh_extended-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/trade_gothic_lh_extended-webfont.woff') format('woff'),
         url('../../fonts/trade_gothic_lh_extended-webfont.ttf') format('truetype'),
         url('../../fonts/trade_gothic_lh_extended-webfont.svg#trade_gothic_lhextended') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_reg';
    src: url('../../fonts/brandon_reg-webfont.eot');
    src: url('../../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/brandon_reg-webfont.woff') format('woff'),
         url('../../fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('../../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../../fonts/myriadpro-regular.eot');
    src: url('../../fonts/myriadpro-regular.eot') format('embedded-opentype'),
         url('../../fonts/myriadpro-regular.woff') format('woff'),
         url('../../fonts/myriadpro-regular.ttf') format('truetype'),
         url('../../fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'futult';
    src: url('../../fonts/futult.eot');
    src: url('../../fonts/futult.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/futult.woff') format('woff'),
         url('../../fonts/futult.ttf') format('truetype'),
         url('../../fonts/futult.svg#futult') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{height:100%;}
body {
    font:14px/24px 'helveticaneueroman', sans-serif;
    color:#333;
    height:100%;
    min-width:1000px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{vertical-align:top;}
a{
    color:#369;
    text-decoration:none;
}
a:hover{text-decoration:underline;}

#header:after{
    content:'';
    display: block;
    clear: both;
}
/* LAYOUT */
#wrapper{
    width:100%;
    position:relative;
    overflow:hidden;
    min-height:100%;
}
.w1{padding:0 30px 22px;}

/* Header */
.header-holder{
    min-width: 1000px;
    height:77px;
    width: 100%;
    position:fixed;
    z-index:102;
}
.header-holder .secondary-nav-holder{
    background: #fff;
    height: 30px;
    overflow: hidden;
    margin: 0 0 0 -30px;
    padding: 0 46px 0 30px;
}
#menu-item-top{
margin-top:9px !important;
}
#menu-item-social{
	padding-top:3px;
	}
#menu-item-breadcrum{
	padding-top:8px;
	}	
#header{
    margin:0 -9999px;
    padding:0 9999px;
    color:#fff;
    min-height:59px;
    background: url(../../img/bg-header.png);
}
#header.header-scroll{background: url(../../img/bg-header2.png);}
.logo{
    width:232px;
    height:19px;
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
    background:url(../../img/logo.png) no-repeat;
    float:left;
    margin:18px 0 0;
    position: relative;
    
}

.logo a{
    display:block;
    height:100%;
}

/* Main Navigation */
nav{float:left;}
.nav-menu{
    font:13px/29px brandon_reg, Arial, Helvetica , sans-serif;
    text-transform:uppercase;
    margin:0 0 0 55px;
}
.nav-menu > li{
    display:inline-block;
    vertical-align:top;
    margin:0 -3px 0 0;
    text-align:left;
    position:relative;
}
.nav-menu > li:after{
    content:'';
    position:absolute;
    left:0;
    top:49px;
    background:#fff;
    height:4px;
}
.nav-menu > li > a,
.nav-menu > li > span{
    letter-spacing: 2px;
    position:relative;
    display:inline-block;
    vertical-align:top;
    padding:15px 8px;
    color:#369;
    height:29px;
}
.nav-menu > li:hover > a,
.nav-menu > li:hover > span,
.nav-menu > li.current_page_parent > a,
.nav-menu > li.current_page_parent > span,
.nav-menu > li.current_page_item > a,
.nav-menu > li.current_page_item > span{
    color:#000;
    opacity: 1 !important;
    /*background:url(../img/bg-nav.png);*/
	background-color:white;
}
.nav-menu > li > span{cursor:default;}
.nav-menu a{text-decoration:none;}
.nav-menu > li .sub-menu{
    padding:10px 0;
    display:none;
    position:absolute;
    left:0;
    top:59px;
    background:#fff;
}
.nav-menu > li .sub-menu li{width:190px;}
.nav-menu > li:first-child .sub-menu li{width:170px;}
.nav-menu > li .sub-menu li:first-child{border-top:none;}
.nav-menu > li .sub-menu li a{
    display:block;
    padding:10px 10px;
    margin:0;
    line-height:13px;
}
.nav-menu > li .sub-menu li:hover a{color:#000;}

/* Breadcrumbs */

.breadcrumbs{
    font-size:10px;
    line-height:12px;
    text-transform:uppercase;
    position:absolute;
    left:0;
    top:1px;
}
.breadcrumbs li{
    float:left;
}
.breadcrumbs li:before{
    content:'>';
    margin:0 10px;
}
.breadcrumbs li:first-child:before{display:none;}

/* Secondary Navigation */
.menu-secondary-nav-container{float: right;}
.secondary-menu{
    float: right;
    font:10px/15px helveticaneuemedium, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
}
.secondary-menu li{
    display:inline-block;
    vertical-align:top;
    margin:0 -3px 0 17px;
}
.secondary-menu a{color:#333;}

/* Main Slider */
.main-slider-holder{
    margin:0 -9999px;
    padding:0 9999px;
    border:1px solid #2e0045;
    border-width:11px 0 1px;
    background:#c1b3c8;
}
.main-slider{
    position:relative;
    width:874px;
    padding:0 33px;
}
.main-slider .flex-viewport{
    width:874px;
    margin:-11px auto -1px;
    height:388px;
}
.main-slider img{
    width:100%;
    height:auto;
}
.main-slider .flex-prev,
.main-slider .flex-next{
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
    background:url(../../img/bg-slider-nav01.png) no-repeat;
    width:15px;
    height:24px;
    position:absolute;
    left:0;
    top:50%;
    margin:-12px 0 0;
}
.main-slider .flex-next{
    background-position:-15px 0;
    left:auto;
    right:0;
}
.heading{
    text-align:center;
    border-bottom:1px solid #959595;
    padding:65px 0 60px;
    margin:0 0 40px;
}
.heading.style02{
    padding:22px 0 22px;
    margin:0;
}
.heading h2{
    font-size:24px;
    line-height:24px;
    font-weight:800;
    color:#182fa2;
    text-transform:uppercase;
}
.heading.style02.grey h2{
    color:#555;
}

/* Homepage */
.homepage-slider-holder{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
}
.homepage-slider-holder .hSwitcher{
    left: 24px;
    overflow: hidden;
    position: absolute;
    top: 89%;
    z-index: 102;
    
}
.homepage-slider-holder .hSwitcher li{
    float: left;
    position: static;
    width: auto;
    margin: 0 0 0 15px;
}
.homepage-slider-holder .hSwitcher li a{
    display: block;
    position: static;
    outline: none;
    width: 25px;
    height: 27px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../../img/arrows2.png) 100px 0 no-repeat;
}
.homepage-slider-holder .hSwitcher li a.prev{background-position: 0 0;}
.homepage-slider-holder .hSwitcher li a.next{background-position: 0 -34px;}
.homepage-slider-holder li:first-child{
    left:0;
    top:0;
}
.homepage-slider-holder .hSlider li{
    left:-100%;
    top:-100%;
}
.homepage-slider-holder li{
    position:absolute;
    left:-100%;
    top:-100%;
    width:100%;
    height:100%;
    z-index:0;
}
.homepage-slider-holder .hSlider li.visible{
    left:0;
    top:0;
    z-index:100;
}
.homepage-slider-holder .hSlider li.zindex{
    z-index:101;
}
.homepage-slider-holder li img{
    width:100%;
    height:auto;
}
.homepage-slider-holder li a{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:2;
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
}
.homepage-slider-holder li .text-holder{
    position:absolute;
    left:2%;
    right:0;
    top:61%;
    z-index:1;
    padding:0 0 22px;
}
.homepage-slider-holder li h2{
    font:66px/70px trade_gothic_lhextended, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#fff;
    margin:0 0 1.3%;
    text-shadow:1px 1px 3px #212e3e;
    filter:dropshadow(color=#212e3e, offx=1, offy=1);
}
.homepage-slider-holder li .hdescr{
    color:#fff;
    font-size:18px;
    line-height:30px;
    width:48%;
    text-shadow:1px 1px 3px #212e3e;
    filter:dropshadow(color=#212e3e, offx=1, offy=1);
}

/* Content */
.main-image{
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
}
.main-image img{
    width:100%;
    height:auto;
}
.page-info{
    overflow:hidden;
    padding:305px 30px 30px;
    text-shadow:1px 1px 4px #000;
    filter:dropshadow(color=#212e3e, offx=1, offy=1);
    max-width:1360px;
    margin:0 auto;
    color:#fff;
}
.page-info .page-heading{
    font:40px/57px trade_gothic_lhextended, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    opacity:.75;
    margin:0 0 6px;
}
.page-info .page-descr{
    font-size:16px;
    line-height:24px;
    width:700px;
}
.page-content-holder{
    background:#fff;
    margin:0 -30px;
    padding:35px 0 75px;
}
.page-content-holder:after{
    display: block;
    content: '';
    clear: both;
}
.page-content-holder.transparent{
    background:url(../../img/bg-nav.png);
    padding:50px 0;
}
.page-content{
    max-width:1360px;
    margin:0 auto;
    padding:0 30px;
}
.page-content:after{
    content:'';
    display:block;
    clear:both;
}
.page-content em{font-style:italic;}
.page-content strong{font-weight:bold;}
.page-content .page-subheading{
    font:18px/24px brandon_reg, Arial, Helvetica , sans-serif;
    text-transform:uppercase;
    margin:0;
    white-space:normal;
}
.page-content .main-heading .page-subheading{width:70%;}
.page-content .page-subheading.locations{
    font-size:15px;
    color:#369;
}
.page-content p{margin:0 0 24px;}
.page-content a img{
    display:block;
    max-width:100%;
    height:auto;
    margin:0 0 31px;
    width:auto;
}
.page-content .twocolumns{width:100%;}
.page-template-contact-php .page-content .twocolumns{margin: 0 0 30px;}
.page-content .twocolumns:after{
    content:'';
    display:block;
    clear:both;
}
.page-content .twocolumns .column{
    width:50%;
    display:inline-block;
    vertical-align:top;
    margin:0 -4px 0 0;
}
.page-content .twocolumns .column img{
    width: 100%;
    height: auto;
}
.page-template-product_development-php .page-content .twocolumns .column img{width: auto;}
.page-content .twocolumns.middle .column{vertical-align:middle;}
.page-content .twocolumns .column-holder{padding:0 35px 0 0;}
.page-content .twocolumns .right-column .column-holder{padding:0 0 0 35px;}
.page-subheading-holder{
    margin:0 0 35px;
    width:100%;
    padding: 0 0 10px;
    white-space:nowrap;
}
.page-subheading-holder:after{
    content:'';
    display:block;
    clear:both;
}
.page-subheading-holder .page-subheading-image{
    display:inline-block;
    vertical-align:middle;
    margin:0 -4px 0 0;
    white-space:normal;
}
.page-subheading-holder .page-subheading-image img{
    display:block;
    width:auto;
}
.page-subheading-holder .page-subheading-image + .page-subheading{
    margin:4px 0 0 10px;
    display:inline-block;
    vertical-align:middle;
    white-space:normal;
}
.page-content li{
    position:relative;
    padding:0 0 0 10px;
    margin:0 0 23px;
}
.page-content li:before{
    position:absolute;
    left:0;
    top:9px;
    content:'';
    background:url(../../img/bullet01.png) no-repeat;
    width:6px;
    height:6px;
}
.page-content ol li{
    margin:0 0 23px;
    list-style:decimal;
    padding:0;
}
.page-content ol li:before{display:none;}
.page-grid{padding:30px 0 0;}
.page-grid-item{
    width:50%;
    display:inline-block;
    vertical-align:top;
    margin:1px -4px 30px 0;
}
.page-grid-item .page-grid-item-holder{
    background:#eef5ea;
    margin:0 15px 0 0;
    height:100%;
    -webkit-box-shadow:0px 0px 4px #cacaca;
    box-shadow:0px 0px 4px #cacaca;
}
.page-grid-item.odd .page-grid-item-holder{margin:0 0 0 15px;}
.page-grid-item .page-grid-item-wrapper{
    padding:30px 30px 30px 95px;
    position:relative;
}
.page-grid-item .grid-image{
    position:absolute;
    left:30px;
    top:30px;
}
.page-grid-item .grid-title{
    font:15px/24px brandon_reg, Arial, Helvetica , sans-serif;
    text-transform:uppercase;
    margin:0 0 13px;
}
.page-grid-item .grid-title p{margin:0;}
.page-grid-item .grid-text{overflow:hidden;}
.page-grid-item .grid-text em{font-style:inherit;}
.page-grid-item .grid-text li:before{
    background-image:url(../../img/bullet02.png);
    width:3px;
    height:3px;
    top:11px;
}

/* Milestones */
.milestones-holder{
    position:relative;
    width:840px;
    margin:0 auto;
}
.milestones-list{overflow:hidden;}
.milestones-divider{
    background:#ccc;
    position:absolute;
    left:50%;
    top:98px;
    width:1px;
    height:100%;
}
.milestones-list li{
    background:#e6e8ed;
    float:left;
    width:293px;
    margin:58px 2px 2px;
    padding:15px 40px;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    position:relative;
}
.milestones-list li.odd{float:right;}
.milestones-list li:first-child{margin-top:1px;}
.milestones-list li:first-child + .odd{margin-top:80px;}
.milestones-list li:before{
    background:#ccc;
    left:auto;
    right:-45px;
    top:50%;
    height:1px;
    width:25px;
}
.milestones-list li.odd:before{
    left:-45px;
}
.milestones-list li p{margin:0;}
.milestones-list .milestone-title{
    background:#f7f7f7 url(../../img/bg-milestone-title.png) no-repeat;
    width:373px;
    height:68px;
    font:24px/68px MyriadProRegular, Arial, Helvetica, sans-serif;
    text-align:center;
    color:#336699;
    text-transform:uppercase;
    margin:-15px -40px 15px;
}

/* Careers */
.careers-heading{
    background:url(../../img/bg-careers.png) no-repeat 50% 0;
    height:90px;
    text-align:center;
    line-height:34px;
    font-size:15px;
    text-transform:uppercase;
}
.careers-heading li{
    display:inline-block;
    vertical-align:middle;
    padding:0;
    margin:0 -4px 0 0;
}
.careers-heading li:before{display:none;}
.careers-heading span{
    padding:0 7px;
    display:block;
    line-height:90px;
}
.careers-heading a{
    font-size:14px;
    text-transform:none;
    display:block;
    padding:0 7px;
    margin:0 4px;
    font-style:italic;
}
.careers-heading a.active{
    border:1px solid #d6d6d6;
    margin:0 3px;
}
.careers-list{
    overflow:hidden;
    margin:0 0 0 -30px;
    padding:0 0 10px;
}
.careers-list li{
    padding:0;
    width:50%;
    display:inline-block;
    vertical-align:top;
    margin:0 -4px 35px 0;
}
.careers-list li:before{display:none;}
.careers-list li .career-holder{
    margin:30px 2px 0 30px;
    background:#eef5ea;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    position:relative;
    height:100%;
}
.careers-list li .career-wrapper{padding:30px 30px 30px 95px;}
.careers-list li .career-holder:before{
    content:'';
    position:absolute;
    left:30px;
    top:30px;
    background:url(../../img/bg-career.png) no-repeat;
    width:35px;
    height:22px;
}
.careers-list li .career-header{
    overflow:hidden;
    margin:0 0 15px;
}
.careers-list li .career-header > *{
    float:left;
    text-transform:uppercase;
    font-size:15px;
    line-height:20px;
}
.careers-list li .links-holder{padding:27px 0 0;}
.careers-list li .links-holder .career-link{margin:23px 0 0;}
.careers-list li .links-holder .career-link:first-child{margin-top:0;}
.careers-list li .links-holder a{
    position:relative;
    padding:0 0 0 30px;
}
.careers-list li .links-holder a:before{
    content:'';
    position:absolute;
    background:url(../../img/bg-links.png) no-repeat -9999px -9999px;
    left:0;
}

.page-content .column-holder .link-download{
    padding:0 0 0 22px;
    background:url(../../img/bg-links.png) no-repeat -7px 6px;

}
.careers-list li .links-holder a.link-download:before{
    background-position:-7px 0;
    width:10px;
    height:13px;
    left:7px;
    top:4px;
}
.careers-list li .links-holder a.link-submit:before{
    background-position:0 -13px;
    width:22px;
    height:17px;
    top:1px;
}
/* Apparel */
.apparel-secondary-subheading{
    color:#369;
    font-style:italic;
    margin:0 0 24px;
}
.apparel-totals-list-holder{
    position:relative;
    width:840px;
    margin:0 auto;
}
.apparel-totals-divider{
    position:absolute;
    left:50%;
    top:98px;
    width:1px;
    height:100%;
    background:#cfcfcf;
}
.apparel-totals-list{
    overflow:hidden;
    padding:0 0 2px;
}
.apparel-totals-list li{
    padding:0;
    background:#e6e8ed;
    float:left;
    width:293px;
    margin:60px 2px 0;
    padding:0 40px;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    position:relative;
}
.apparel-totals-list li.odd{float:right;}
.apparel-totals-list li:first-child{margin-top:1px;}
.apparel-totals-list li:first-child + .odd{margin-top:80px;}
.apparel-totals-list li:before{
    background:#ccc;
    left:auto;
    right:-45px;
    top:50%;
    height:1px;
    width:25px;
}
.apparel-totals-list li.odd:before{left:-45px;}
.apparel-totals-list li .totals-title-wrapper{
    /*height:110px;*/
    height:140px;
    width:100%;
    display:table;
    vertical-align:middle;
}
.apparel-totals-list li .totals-title-holder{
    display:table-cell;
    vertical-align:middle;
}
.apparel-totals-list li h3{
    font:15px/36px brandon_reg, Arial, Helvetica, sans-serif ;
    text-align:center;
    letter-spacing: 1px;
    text-transform:uppercase;
}
.apparel-totals-list li h3 span{
    font-size:10px;
    line-height:36px;
    display:block;
    margin:-15px 0 0;
}
.apparel-totals-list li .test{
    position:absolute;
    left:50%;
    top:41%;
    font-size:22px;
    line-height:20px;
    color:#6cd3b8;
    text-transform:uppercase;
    text-align:center;
}
.apparel-totals-list li .count-wrapper{
    display:table;
    vertical-align:middle;
    height:100%;
    width:100%;
}
.apparel-totals-list li .count-holder{
    font-family:futult, Arial, Helvetica, sans-serif;
    display:table-cell;
    vertical-align:middle;
}
.apparel-totals-list li .test{
    /*border:1px solid #e1e3e8;*/
    padding:0 9px;
    background:url(../../img/bg-apparel-count02.png) repeat-x;
    height:47px;
    min-width:80px;
}
.apparel-totals-list li .count.diamond{
    background:url(../img/bg-apparel-count01.png) no-repeat;
    width:67px;
    height:68px;
    text-align:center;
}
.apparel-totals-list li .count strong{
    font-family: brandon_reg, Arial, Helvetica, sans-serif;
    font-weight:normal;
    color:#7291af;
    font-size:13px;
    display:block;
}
.apparel-totals-list li .image-holder{
    overflow:hidden;
    margin:0 -40px;
    height:80px;
    border-top:1px solid #c1c3c7;
}
.apparel-totals-list li .image-holder img{
    width:100%;
    height:auto;
}
.apparel-links-holder{
    overflow:hidden;
    margin:0 0 50px;
}
.apparel-links-holder h3{
    font:15px/38px brandon_reg, Arial, Helvetica, sans-serif ;
    text-align:center;
    color:#369;
    text-transform:uppercase;
    background:#f0f0f0;
    height:38px;
    margin:0 0 25px;
}
.apparel-links-list{
    overflow:hidden;
    text-transform:uppercase;
    font-size:15px;
    line-height:94px;
    padding:2px 0;
}
.apparel-links-list li{
    height:94px;
    padding:0;
    float:left;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    width:50%;
    background:#e6e8ed;
    width:48.85%;
    margin:0 2px 25px;
}
.apparel-links-list.odd li{background:#f3f3f3;}
.apparel-links-list li.odd{float:right;}
.apparel-links-list li:before{
    background:url(../../img/bg-apparel-links.png) no-repeat -9999px -9999px;
    width:95px;
    height:94px;
    margin:0;
    top:0;
    left:0;
}
.apparel-links-list li.ready-made-garments:before{background-position:0 0;}
.apparel-links-list li.product-development:before{background-position:-95px 0;}
.apparel-links-list li.textiles:before{background-position:0 -94px;}
.apparel-links-list li.spinning:before{background-position:-95px -94px;}
.apparel-links-list li.quality-control:before{background-position:0 -188px;}
.apparel-links-list li.logistics:before{background-position:-95px -188px;}
.apparel-link-holder{
    padding:0 30px 0 95px;
    position:relative;
}
.apparel-link-holder span{font-family: brandon_reg, Arial, Helvetica, sans-serif;}
.apparel-links-list a{
    text-transform:none;
    text-align:right;
    font-size:14px;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    padding:0 70px 0 0;
}
.apparel-links-list a:before{
    content:'';
    background:url(../../img/bg-links.png) no-repeat 0 -13px;
    position:absolute;
    right:30px;
    width:22px;
    height:17px;
    top:50%;
    margin:-10px 0 0;
}
.slider-holder{
    margin: 0;
    text-align: center;
    position: relative;
}
.slider-holder .logo-slider{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 1000px;
}
.slider-holder .logo-slider .flex-control-nav{display: none;}
.slider-holder .logo-slider .flex-direction-nav{}
.slider-holder .logo-slider .flex-direction-nav li{
    list-style: none;
    position: static;
    margin: 0;
}
.slider-holder .logo-slider .flex-direction-nav li:before{background: none;}
.slider-holder .logo-slider .flex-direction-nav a{
    width: 12px;
    top: 32%;
    height: 22px;
    background: url(../../img/arrows1.png) 100px 0 no-repeat;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
}
.slider-holder .logo-slider .flex-direction-nav a.flex-prev{
    background-position: 0 0;
    left: -27px;
}
.slider-holder .logo-slider .flex-direction-nav a.flex-next{
    background-position: 0 -23px;
    right: -27px;    
}
.apparel-logos{
    overflow:hidden;
    margin:0 0 50px -14px;
}
.slider-holder .apparel-logos{margin: 0 0 50px;}
.apparel-logos li{
    width:250px;
    margin:0;
    width:18.26%;
    padding:0 14px;
    background:#fff;
    display:inline-block;
    vertical-align:middle;
}
.apparel-logos li:before{display:none;}
.apparel-logos li img{
    width:100%;
    height:auto;
    display:inline-block;
    vertical-align:middle;
    margin:0 -4px 0 0;
}
.apparel-logos li span{
    display:inline-block;
    vertical-align:middle;
}
.apparel-loc-list{
    overflow:hidden;
    margin:-30px 0 0;
}
.apparel-loc-list li{
    width: 230px;
    display:inline-block;
    vertical-align:top;
    padding:0 20px 0 0;
    margin:0 -4px 0 34px;
    color:#369;
}
.apparel-loc-list li:before{display:none;}
/* RMG */
.big-banner{
    overflow:hidden;
    margin:30px 0;
}
.big-banner img{
    width:100%;
    height:auto;
}
.rmg-columns-holder{
    background:#f7f7f7;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    margin:2px;
    overflow:hidden;
    text-align:center;
    padding:30px 0;
    margin:0 0 45px;
}
.rmg-column{
    width:23.84%;
    margin:0 -4px 0 6%;
    display:inline-block;
    vertical-align:top;
    text-align:left;
}
.page-content .twocolumns .rmg-column.rmg-style02 .column-holder{background:#e6e8ed;}
.rmg-column:first-child{margin-left:0;}
.rmg-column .page-subheading-holder{margin:0 0 5px;}
.rmg-column li{margin:0 0 -1px;}
.rmg-column li:before{
    background-image:url(../../img/bullet02.png);
    width:3px;
    height:3px;
    top:11px;
}
.twocolumns .rmg-column.right-column .column-holder{
    background:#f7f7f7;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    margin:2px;
    overflow:hidden;
    padding:30px;
}
.v-middle .column-holder{padding-bottom:0 !important;}
.rmg-percent-list{margin:0 0 25px;}
.rmg-percent-list li{
    overflow:hidden;
    padding:0 0 0 57px;
}
.rmg-percent-list li:before{display:none;}
.rmg-percent-list h3{
    width:35%;
    display:inline-block;
    vertical-align:middle;
    margin:0 -4px 0 0;
}
.rmg-percent-list .rmg-percent{
    display:inline-block;
    vertical-align:middle;
    width:65%;
    background:#fff;
}
.rmg-percent-list .rmg-percent span{
    display:block;
    height:29px;
    line-height:29px;
    color:#fff;
    background:#07a3e0;
    text-align:center;
}
/* Product Development */
.columns-big .page-subheading-holder{
    padding:0;
    margin:0 0 15px;
}
.columns-big .page-subheading{
    font:14px/24px helveticaneueroman, Arial, Helvetica, sans-serif;
    text-transform:none;
    color:#369;
}
.column-grey-box-holder{color: #333;}
.column-grey-box{
    border:2px solid #efefef;
    border-radius:2px;
    box-shadow: 0 1px 1px #ccc;
    background:#f3f3f3;
    margin:0 2px 2px;
    padding:30px 30px 30px 95px;
    position:relative;
}
.column-grey-box .producst-list {
    overflow:hidden;
}
.column-grey-box .producst-list li{
    float:left;
    margin:0 12px 0 0;
    padding:0 0 0 14px;
    list-style:bullet;
}
.column-grey-box.style02{
    text-align:center;
    padding:30px;
    background:#e6ecef;
    -webkit-box-shadow:0px 0px 30px #eee;
    box-shadow:0px 0px 30px #eee;
}
.column-grey-box.style03{background:#eef5ea;}
.column-grey-box.style02 img{margin:0 auto;}
.column-grey-box .grey-fullsize{
    display:block;
    margin:0 -30px -54px;
}
.column-grey-box .grey-fullsize img{
    width:100%;
    height:auto;
}
.column-grey-box img{
    width:100%;
    height:auto;
}
.column-grey-box .page-subheading-image{
    position:absolute;
    left:30px;
    top:35px;
    margin:0;
}
.column-grey-box .page-subheading-holder .page-subheading{
    margin:0;
    color:#333;
    margin:0;
    text-transform:uppercase;
}
.column-grey-box li{margin:0;}
.column-grey-box li:before{
    background-image:url(../../img/bullet02.png);
    width:3px;
    height:3px;
    top:11px;
}
/* Textiles */
.textiles .page-subheading-holder{
    padding:0;
    margin:0 0 15px;
}
.textiles .page-subheading{font-size:15px;}
/* Properties */
.contact-box-wrapper{
    position:relative;
    padding:0 40px;
}
.contact-box-wrapper:before,
.contact-box-wrapper:after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    background:url(../../img/bg-contact01.png) no-repeat;
    width:40px;
    height:223px;
}
.contact-box-wrapper:after{
    background:url(../../img/bg-contact02.png) no-repeat;
    left:auto;
    right:0;
}
.contact-box-holder{
    display:table;
    vertical-align:middle;
    width:100%;
    height:223px;
}
.contact-box{
    font-style: italic;
    padding: 0 100px;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
}
.contact-box .page-subheading-holder{
    margin:0 0 20px;
    font-style: normal;
    padding:0;
}
.contact-box p{margin:0;}
.properties-list li{padding:0;}
.properties-list li:before{display:none;}
.properties-list > li{
    padding:30px 30px 30px 40px;
    background:#eef5ea;
    overflow:hidden;
    margin:50px 0 0;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
}
.properties-list > li:first-child{margin-top:0;}
.properties-list .text-holder{
    width:41.7%;
    float:left;
    margin:0 3.17% 0 0;
}
.properties-list h2{
    font: 24px/30px trade_gothic_lhextended, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    margin:0 0 8px;
    position:relative;
}
.properties-list h2:before{
    content:'';
    position:absolute;
    top:11px;
    left:-21px;
    background:url(../../img/bullet03.png) no-repeat;
    width:6px;
    height:6px;
}
.properties-list address{margin:0 0 29px;}
.properties-list h3{
    font: 18px/24px brandon_reg, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    margin:0 0 26px;
}
.properties-list .image-holder{
    margin:0 3.17% 0 0;
    overflow:hidden;
}
.properties-list .image-holder li{
    float:right;
    width:17.6%;
    margin:0 0 13px;
}
.properties-list .image-holder li:first-child{
    float:left;
    width:77.46%;
}
.properties-list .image-holder img{
    width:100%;
    height:auto;
}
/* Travel */
.travel-link{
    height:94px;
    background-color:#e6e8ed;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    line-height:94px;
    padding:0 150px 0 95px;
    position:relative;
    margin:0 0 22px;
}
.travel-link span{
    font:15px/94px brandon_reg, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
}
.travel-link a{
    position:absolute;
    right:0;
    top:0;
    left:0;
    bottom:0;
    padding:0 75px;
    text-align:right;
}
.travel-link a:after{
    content:'';
    width:22px;
    height:17px;
    background:url(../../img/bg-links.png) no-repeat 0 -13px;
    position:absolute;
    right:35px;
    top:50%;
    margin:-9px 0 0;
}
/* Sustainability */
.plan-list-holder{
    text-align:center;
    width:85.7%;
    min-width:940px;
    margin:0 auto;
}
.plan-list-holder h2{
    font:18px/18px brandon_reg, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    color:#999;
    margin:0 0 13px;
}
.plan-list-holder > img{
    width:100%;
    height:auto;
    display:block;
    margin:0 0 10px;
}
.plan-list-holder li{
    padding:0;
    display:inline-block;
    vertical-align:top;
    width:33%;
    margin:0 -4px 35px 0;
}
.plan-list-holder li:before{display:none;}
.plan-list-holder li .plan-holder{
    background:#eef5ea;
    -webkit-box-shadow:0px 0px 4px #a2a2a2;
    box-shadow:0px 0px 4px #a2a2a2;
    margin:0 5%;
    display:inline-block;
    vertical-align:top;
    height:100%;
}
.plan-list-holder li .plan-wrapper{padding:10%;}
.plan-list-holder li h3{
    font:15px/24px brandon_reg, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    margin:12px 0 20px;
}
.plan-list-holder li .plan-descr{
    text-align:left;
    font-size:13px;
}
/* Contact Page */
.contact-page .page-content{margin-bottom:40px;}
.contact-page .page-content.odd .column-grey-box{background:#e6e8ed;}
/* Press Page */
.page-template-travel-php .breadcrumbs,
.page-template-sustainability-php .breadcrumbs,
.page-template-stock-php .breadcrumbs,
.page-template-banking-php .breadcrumbs,
.page-content.posts-holder .post-box .entry-meta,
.single-post .breadcrumbs,
.page-template-press-php .breadcrumbs{display: none;}
.page-content.posts-holder{
    float: left;
    width: 45%;
    max-width:none;
}
.page-content.posts-holder .post-box{
    overflow:hidden;
    margin: 0 0 30px;
}
.page-content.posts-holder .post-frame{overflow:hidden;}
.page-content.posts-holder .date{
    font-family:  brandon_reg, Arial, Helvetica, sans-serif;
    width: 118px;
    float:left;
}
.page-content.posts-holder .post-box h1.entry-title,
.page-content.posts-holder h2.post-title{
    font:15px/26px brandon_reg, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0 0 5px;
    color: #369;
    letter-spacing: 2px;
}
.page-content.posts-holder .post-box h1.entry-title,
.page-content.posts-holder p{margin: 0 0 14px;}
.page-content.posts-holder a{color:#369;}
.page-content.posts-holder a.more{
    background: url(../../img/bg-links.png) 100% -14px no-repeat;
    padding: 0 40px 0 0;
}

.single-post .sidebar.recent-posts {
    background: none repeat scroll 0 0 #e6ecef;
    border: 2px solid #efefef;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    float: right;
    margin: 0 30px 0 0;
    padding: 30px 35px 35px 97px;
    text-transform: uppercase;
    width: 435px;
}
.single-post .sidebar.recent-posts h2{
    font:15px/18px brandon_reg, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: url(../../img/img02.png) 0 2px no-repeat;
    margin: 0 0 23px -57px;
    padding:6px 0 2px 57px;
    color: #333;
}
.single-post .sidebar.recent-posts .date{
    width: 115px;
    font-family: brandon_reg, Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
}
/* Footer */
#footer{
    height:22px;
    margin:-22px 0 0;
    position:relative;
    z-index:999;
    background:url(../../img/bg-footer.png);
}
#footer.no-image{background:#045e84;}
.footer-holder{
    letter-spacing: 1px;
    font:10px/22px helveticaneuemedium, Arial, Helvetica, sans-serif;
    color:#fff;
     padding:0px 10px;
    text-transform:uppercase;
}
.footer-holder a{color:#fff;}
.footer-holder .copy,
.footer-holder .menu-footer-nav-container,
.footer-holder li{
    display:inline-block;
    vertical-align:top;
    margin:0 -3px 0 20px;
}
.footer-holder li:first-child{margin-left:0;}
img.size-full{
    width: 100%;
    height: auto;
}
/* Media Queries */
@media screen and (max-width:1300px){
    .nav-menu{margin-left:10px;}
    .nav-menu > li > a,
    .nav-menu > li > span{
        padding:15px 5px;
        letter-spacing: 0;
    }
}
@media screen and (max-width:1097px){
    .page-content.posts-holder{width:39%;}
    .single-post .sidebar.recent-posts{
        padding: 30px 5px 35px 15px;
    }
    .single-post .sidebar.recent-posts h2{
        padding: 1px 0 5px 35px;
        margin-left:0;
    }
    .flexslider.logo-slider{width: 800px;}
}
